/* Add friend form */
.addFriend {
  padding: 1rem;
  border-radius: 12px;
  background-color: #2b2d31;
  padding-right: 3.75rem;

  display: grid;
  grid-auto-flow: column;
}
.addFriend form {
  display: grid;
  gap: 0.5rem;
}
.addFriend .close {
  position: absolute;
  top: 1.25rem;
  right: 1rem;

  display: grid;
  justify-items: center;
  gap: 0.2rem;
}
.addFriend .close > svg {
  border: 1px solid lightgray;
  padding: 0.2rem;
  border-radius: 50%;
  width: 1.25rem;
  fill: lightgray;
  cursor: pointer;
}
.addFriend .close > svg:hover {
  background-color: #3a3c42;
}
